NEXTAUTH_URL="http://localhost:3000"
# openssl enc -aes-128-cbc -k [private_key] -P -md sha1
# secret key can be generated using command above
NEXTAUTH_SECRET="2B1F36865C59BD32B00E9677F97544AA"

DATABASE_URL="postgres://postgres:password@[postgresUrl]:5432/postgres"